	#wrap{
			width: 900px;
			/* height: 800px; */
			position: relative;
			margin: 0 auto;
		}
		.header{
			height: 10%;
			background-color: #B9CAFF;
		}
		.header > .logo{
			float:left;
			width: 25%;
			height: 15%;
		}
		.header > .logo img{
			width: 150px;
			height: 100px;
		}	
		.header .gnb{
			float:left;
			width: 75%;
			height: 100px;
			background-color: #ff8080;
		}
		.header .gnb ul li{
			list-style: none;
			display: inline;
		}
		.search{
			float:right;
			width: 75%;
			height: 95px;
			background-color: #97f20d;
		}
		.search > fieldset{
			padding: 20px;
			margin: 0px 15px 15px 15px;
		}
		.search > fieldset > select{
			margin-right: 5px;
		}
		.aSide{
			float:left;
			width: 25%;
			background-color: #ffff80;
			
		}
		.aSide > .login a{
			display: inline-block;
			font: 11px bold;
			text-align: left;
			padding: 10px 6px 0px 6px;
			
		}
		.aSide > .sideMenu{
			font: 20px bold "Courier New", Courier, monospace;
		}
		.container{
			float:left;
			width: 75%;
			background-color: #B9CAFF;
		}
		.container > .content{
			background-color: #0080c0;
			min-height: 200px;
		}
		.footer{
			float:left;
			width: 100%;
			background-color: #a33aa0;
		}