<table class="member" border="1" summary="회원정보테이블">
	<thead>회원정보</thead>
	<tbody>
		<tr>
			<th>ID : </th>
			<td><%= member.id %></td>
		</tr>
		<tr>
			<th>PASSWORD : </th>
			<td><%= member.password %></td>
		</tr>
		<tr>
			<th>주민번호 : </th>
			<td><%= member.socialNumber %></td>
		</tr>
		<tr>
			<th>이름 : </th>
			<td><%= member.name %></td>
		</tr>
		<tr>
			<th>전화번호 : </th>
			<td><%= member.telNumber %></td>
		</tr>
		<tr>
			<th>이메일 : </th>
			<td>
				<%= member.emailId %>@<%= member.emailDomainSelect %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a href="/">홈으로</a>
				<a href="/member/update?id=<%= member.id %>" id="updateMember">회원정보수정</a>
				<a href="/member/delete?id=<%= member.id %>">회원탈퇴</a>	
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	bindUpdateMember();
</script>