<form action="/member/findPassword" method="post" id="findPasswordForm">
<table border="1" summary="Password찾기 테이블">
	<thead>Password찾기</thead>
	<tbody>
		<tr>
			<th>ID 입력 :</th>
			<td><input type="text" name="id" placeholder="ID" size="13" maxlength="13"/></td>
		</tr>
		<tr>
			<th>주민번호 입력 :</th>
			<td><input type="password" name="socialNumber" placeholder="-제외하고 입력" size="13" maxlength="13"/></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="찾기"/></th>
		</tr>
	</tbody>
</table>
</form>