
#wrap{
	width: 410px;
	border: black 1px solid;
	margin: auto;
}
.title1{
	text-align: center;
}

.drink{
	text-align: center;
}

.drink > div{
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.price{
	display: block;
	font-size: 12px;
	margin-top: 5px;
	font-style: italic;
}

button{
	cursor: pointer;
}

.drinkBtn{
	display:block;  
	width: 60px;
	margin: auto;
	padding:3px; 
	border:1px solid #efefef; 
	border-radius:8px; 
	background:black; 
	font-size:12px; 
	color:#C18B8D; 
}


.vending-body{
	margin-top: 20px;
	background: #68774A;
}

.ad{
	margin-left: 0px;
	display: inline-block;
}

.moneyModule{
	margin-left: 0px;
	display: inline-block;
	position: relative;
	bottom: 80px;
}

#displayArea{
	margin-left: 10px;
	border:2px dashed red;
	outline:3px solid black;
	outline-offset:3px;
	text-shadow: 2px 2px 2px red;
	color: red;
}

.moneyModule button{
	border-radius: 10px;
	margin: auto;
	position: relative;
	top:20px;
	text-align: center;
	margin: 10px 5px 10px 5px;
}

.take{
	width: 60%;
	height: 150px;
	display: block;
	float: left;
}

.dropDrinkZone { 
	width: 85%; 
	height: 30%;
	outline-color: #000000;
	outline-width: 3px;
	outline-style:dashed;
	padding:3px;
	background-color: #444444;
	opacity: 0.3;
	margin: auto;
	position: relative;
	top: 80px;
	cursor: pointer;
}

.dropDrinkZone:hover{
	opacity: 0.8;
	background-color: #FFFFFF;
}

.dropDrinkZone > img{
	position: relative;
}

.returnMoney{
	height: 150px;
	display: inline-block;
}

#returnMoneyBox{
	position:relative;
	top:70px;
	left: 70px;
	width: 50px;
	height: 50px;
	background:#AAAAAA; 
	outline-style: solid;
	outline-color: black;
	outline-offset: 2px;
	border-style: solid;
	border-width: 3px;
	border-top-style: dashed;
	border-color: #FFFFFF;
	cursor: pointer;
}

