
#wrap{
	width: 410px;
	border: black 1px solid;
	margin: auto;
}
.title1{
	text-align: center;
}
.drink{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin: auto;
}
.drink table{
	margin: auto;
	border: black 1px solid;
}
.drink table td{
	width: 70px;
	border: black 1px solid;
}
.drinkImg{
	display: block;
	height: 35px;
	margin: 2.5px;
	padding: 1px;
}
.price{
	font-size: 12px;
	font-style: italic;
}
button{
	cursor: pointer;
}
.drinkBtn{
	display:block;  
	width: 60px;
	margin: auto;
	padding:3px; 
	border:1px solid #efefef; 
	border-radius:8px; 
	background:black; 
	font-size:12px; 
	color:#C18B8D; 
}
.ad{
	width: 250px;
	height: 150px;
	border: black 1px inset;
	background: #68774A;
	margin: auto;
	float: left;
}
.ad > img{
	width: 95%;
	height: 95%;
	opacity: 1;
	float: none;
	position:relative;
	top:5px;
}
.moneyModule{
	width: 150px;
	height: 150px;
	border: black 1px inset;
	background: #68774A;
	margin: auto;
	float: left;
}
.take{
	width: 250px;
	height: 150px;
	border: black 1px inset;
	background: #68774A;
	float: left;
}
.returnMoney{
	width: 150px;
	height: 150px;
	border: black 1px inset;
	background-color: #68774A;
	float: left;
}
.dropDrinkZone { 
	width: 85%; 
	height: 30%;
	outline-color: #000000;
	outline-width: 3px;
	outline-style:dashed;
	padding:3px;
	background-color: #444444;
	opacity: 0.3;
	margin: auto;
	position: relative;
	top: 80px;
	cursor: pointer;
}
.dropDrinkZone:hover{
	opacity: 0.8;
	background-color: #FFFFFF;
}
.dropDrinkZone > img{
	position: relative;
	margin: auto;
}
#displayArea{
	margin:auto;
	width:90%;
	border:2px dashed red;
	outline:3px solid black;
	outline-offset:3px;
	text-shadow: 2px 2px 2px red;
	color: red;
}
.moneyModule button{
	border-radius: 10px;
	margin: auto;
	position: relative;
	top:20px;
	text-align: center;
	margin: 10px 5px 10px 5px;
}
#returnMoneyBox{
	position:relative;
	top:70px;
	left: 70px;
	width: 50px;
	height: 50px;
	background:#AAAAAA; 
	outline-style: solid;
	outline-color: black;
	outline-offset: 2px;
	border-style: solid;
	border-width: 3px;
	border-top-style: dashed;
	border-color: #FFFFFF;
}