body{
	background-color: #898989;
	margin:0;
	padding:0;
	font-size:0.75em;
	line-height:1.2em;
	color:#333333;
}

#wrap{
	width:971px;
	text-align:left;
	margin:0;
	margin-right:auto;
	margin-left:auto;	
	background-image: url(../images/shadow.png);
	background-repeat:repeat-y;
	min-height:860px;
}

#logo{
	float:left;
	width:265px;
	margin:40px 0 0 40px;
}

#header{
	height:151px;
	margin:0;
	padding:0;
}

.clear{
	clear:both;
}

img {
	border:none;
}

#nav{
	width:600px;
	margin:50px 20px 0 0;
	float:right;
	
}

#nav ul{
	list-style:none;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: 100;
	color:#333333;
}

#nav ul li{
	float: left;
	margin: 0 5px;
}

#nav a{
	display:block;
	height:20px;
	padding:10px;
	text-decoration:none;
	color:#333333;
}

#nav a:hover{
	background-image:url(../images/blue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

#login{
	float:right;
	margin:20px 64px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	word-spacing: 5px;
}

#login a{
	text-decoration: none;
	color:#333333;
}

#login a:hover{
	color:#F90;
}


#footer{
	margin:50px 0 0 0;
	height:80px;
	background-image: url(../images/under_logo.gif);
	background-repeat: no-repeat;
	background-position:40px center;
}

#footer hr{
	width:900px;
	margin:0 0 0 35px; 
}

#footer #copy{
	font-family:Arial, Helvetica, sans-serif;
	width:450px;
	margin:20px 0 0 190px;
	float:left;
}

#footer #social{
	width:130px;
	margin:20px 20px 0 0 ;
	float:right;
}

#footer #social img{
	margin:0 7px;
}
