<table border="1" summary="상세보기">
	<caption>상세보기</caption>
	<tr>
		<th>글번호 :</th>
		<td><%= board.seq %></td>
	</tr>
	<tr>
		<th>제목 :</th>
		<td><%= board.title %></td>
	</tr>
	<tr>
		<th>내용 :</th>
		<td><textarea cols="50" rows="15" readonly="readonly"><%= board.content %></textarea></td>
	</tr>
	<tr>
		<th>분류 :</th>
		<td><%= board.category %></td>
	</tr>
	<tr>
		<th>작성자 :</th>
		<td><%= board.writerId %></td>
	</tr>
	<tr>
		<th>작성일자 :</th>
		<td><%= board.regDate %></td>
	</tr>
	<tr>
		<th>조회수 :</th>
		<td><%= board.visitCount %></td>
	</tr>
	<tr>
		<th colspan="2">
			<% if ( session.member && session.member.id ==  board.writerId ) { %>
				<a href="/board/update?seq=<%= board.seq %>">수정</a> || <a href="/board/delete?seq=<%= board.seq %>">삭제</a>	
			<% } %>
		</th>
	</tr>
	<tr>
		<th colspan="2"><a href="/board/list">글목록</a></th>
	</tr>
</table>
