<table border="1">
	<caption>게시판 글 목록</caption>
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>분류</th>
		<th>작성자ID</th>
		<th>작성일자</th>
		<th>조회수</th>
	</tr>
	<% boardList.forEach(function(board){ %>
	<tr>
		<td><%= board.seq %></td>
		<td><a href="/board/get?seq=<%= board.seq %>"><%= board.title %></a></td>
		<td><%= board.category %></td>
		<td><%= board.writerId %></td>
		<td><%= board.regDate %></td><!-- 현재 일자 기준으로 금일이면 시간만 / 그외는 년.월.일 만 노출-->
		<td><%= board.visitCount %></td>
	</tr>
	<% }); %> 
</table>
<% if( boardList.hasPrev ) { %>
	<a href="/board/list?pageIndex=<%= boardList.prevPage %>">◀ 이전</a>	
<% } %>
<% for( var i = boardList.startPage; i <= boardList.endPage; i ++){ %>
	<a href="/board/list?pageIndex=<%= i %>"><%= i %></a>
<% } %>
<% if( boardList.hasNext ) { %>
	<a href="/board/list?pageIndex=<%= boardList.nextPage %>">다음 ▶</a>	
<% } %>

<% if ( session.member ) { %>
	<a href="/board/save">글쓰기</a>	
<% } %>

 